.banner {
  padding: 96px 0 0 0;
  display: flex;
}

.banner .left_side .title {
  padding-bottom: 24px;
}
.banner .left_side {
  width: 60%;
}
.banner .right_side {
  width: 40%;
}

.banner .left_side .title h1 {
  color: #0782d5;

  /* H 2 */
  /* font-family: "Open Sans"; */
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: 88px;
  /* 110% */
  letter-spacing: -1.68px;
}

.banner .left_side .title h1:nth-child(2) {
  color: #333;
}

.banner .left_side .desc {
  padding-right: 34px;
}

.banner .left_side .desc p {
  color: #333;

  /* Subtitle */
  /* font-family: "Open Sans"; */
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  /* 160% */
  letter-spacing: -0.42px;
}
.banner .left_side .button {
  padding-top: 16px;
}
.banner .left_side .button button {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.336px;
  padding: 12px 24px;
  border-radius: 8px;
  background: #2191dd;
}

.banner .right_side .image_up {
  padding-bottom: 16px;
}

.banner .right_side .image_up,
.image_down {
  display: flex;
  gap: 16px;
}

.banner .right_side .image_up,
.image_down img {
  border-radius: 12px;
  object-fit: cover;
}

.banner .right_side .image_up img:nth-child(1) {
  /* max-width: 250px;
    min-width: 190px; */
  width: 40%;
}

.banner .right_side .image_up img:nth-child(2) {
  /* max-width: 406px; */
  width: 60%;
}

.banner .right_side .image_down img:nth-child(1) {
  /* max-width: 406px;
     */
  width: 60%;
}

.banner .right_side .image_down img:nth-child(2) {
  /* max-width: 250px;
    min-width: 190px; */
  width: 40%;
}

@media (max-width: 1000px) {
  .banner {
    flex-direction: column;
    gap: 20px;
    padding: 40px 0;
  }
  .banner .left_side {
    width: 100%;
  }
  .banner .right_side {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .banner .left_side .title h1 {
    font-size: 40px;

    line-height: 50px;
  }
  .banner .left_side .desc p {
    font-size: 16px;
  }
}
