.card_section {
  padding: 200px 0;
  .head_text {
    h1 {
      color: #4e4e4e;

      /* H 1 */
      font-family: "Open Sans";
      font-size: 96px;
      font-style: normal;
      font-weight: 400;
      line-height: 112px; /* 116.667% */
      letter-spacing: -4.8px;

      @media (max-width: 1024px) {
        color: #4e4e4e;

        /* H 2 */
        font-family: "Open Sans";
        font-size: 80px;
        font-style: normal;
        font-weight: 400;
        line-height: 88px; /* 110% */
        letter-spacing: -1.68px;
      }

      @media (max-width: 744px) {
        color: #4E4E4E;

/* H 3 */
font-family: "Open Sans";
font-size: 60px;
font-style: normal;
font-weight: 400;
line-height: 68px; /* 113.333% */
letter-spacing: -1.26px;

      }
      
      @media (max-width: 375px) {
        color: #4E4E4E;

/* H 4 */
font-family: "Open Sans";
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: 48px; /* 120% */
letter-spacing: -1.24px;

      }

      span {
        color: #0782d5;
      }
    }
  }

  .cards {
    margin: 100px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;

    @media (max-width: 1130px) {
      display: flex;
      flex-direction: column;
      gap: 100px;
    }

    .one_card {
      position: relative;
      max-width: 440px;
      height: 450px;
      background: #ede6ad;
      padding: 108px 32px 32px 32px;

      border-radius: 12px;

      /* yellow testimonial */
      box-shadow: 0px 35px 30.7px -28px rgba(190, 133, 48, 0.15);
      @media (max-width: 1024px) {
        max-width: 330px;
        height: 370px;
        padding: 68px 24px 24px 24px;
      }
      .card_img {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 176px;
        height: 176px;
        border-radius: 50%;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width: 1024px) {
          width: 100px;
          height: 100px;
        }

        img {
          width: 154px;
          height: 154px;
          border-radius: 50%;
          object-fit: cover;
          @media (max-width: 1024px) {
            width: 84px;
            height: 84px;
          }
        }
      }
      .card_texts {
        display: flex;

        flex-direction: column;
        align-items: center;
        gap: 50px;
        flex-shrink: 0;

        @media (max-width: 1024px) {
          gap: 10px;
        }

        .card_header {
          h4 {
            color: #4e4e4e;

            text-align: center;
            /* Title 6/600 */
            font-family: "Open Sans";
            font-size: 28px;
            font-style: normal;
            font-weight: 600;
            line-height: 40px; /* 142.857% */
            letter-spacing: -0.308px;
            @media (max-width: 1024px) {
              color: #4e4e4e;

              text-align: center;
              /* Body 2/600 */
              font-family: "Open Sans";
              font-size: 16px;
              font-style: normal;
              font-weight: 600;
              line-height: 24px; /* 150% */
              letter-spacing: -0.176px;
            }
          }
          p {
            color: #4e4e4e;

            text-align: center;
            /* Body 2/400 */
            font-family: "Open Sans";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 150% */
            letter-spacing: -0.336px;
            @media (max-width: 1024px) {
              color: #4e4e4e;

              text-align: center;
              /* Body 3/400 */
              font-family: "Open Sans";
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 20px; /* 142.857% */
              letter-spacing: -0.294px;
            }
          }
        }
        .card_main_text {
          max-width: 376px;

          h5 {
            color: #333;

            /* Body 2/400 */
            font-family: "Open Sans";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 150% */
            letter-spacing: -0.336px;
          }
        }
      }
    }

    .special_card {
      background: rgba(33, 145, 221, 0.2);

      /* Blue web */
      box-shadow: 0px 35px 51.7px -28px rgba(31, 81, 209, 0.15);
    }
  }
}
