.card {
  border-top: 0.5px solid #4e4e4e;
  margin-top: 10px;
  padding: 48px 56px;
}
.card_inner {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.first {
  display: flex;
  align-items: center;
}
.first span {
  color: #0782d5;
  font-family: "Open Sans";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 72px; /* 150% */
  letter-spacing: -0.528px;
}
.first h2 {
  color: #0782d5;
  flex: 1 0 0;
  font-family: "Open Sans";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 72px; /* 150% */
  letter-spacing: -0.528px;
  text-align: center;
}
.info {
  color: #4e4e4e;
  font-family: "Open Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
  letter-spacing: -0.42px;
  display: flex;
  justify-content: end;
}
.info p {
  max-width: 760px;
}




@media (max-width:768px) {

  .first  h2{
    color: #0782D5;

    /* Title 4/400 */
    font-family: "Open Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 100% */
    letter-spacing: -0.504px;
  }

  .first  span{
    color: #0782D5;

    /* Title 4/400 */
    font-family: "Open Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 100% */
    letter-spacing: -0.504px;
  }
  .info {
    color: #4E4E4E;

    /* Body 3/400 */
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: -0.294px;
  }
}