.banner {
    position: relative;
    margin-top: 24px;
}

.banner img {
    max-width: 100%;
    width: 1368px;
    height: 648px;
    object-fit: cover;
    object-position: center;

}

/* .text {
    position: relative;
} */
.text p {
    position: absolute;
    top: 16px;
    left: 28px;
    width: 708px;
    color: #F0F0F0;
    /* H 1 */
    font-family: "Open Sans";
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: 112px;
    /* 116.667% */
    letter-spacing: -4.8px;
}

.services {
    position: absolute;
    right: -38px;
    bottom: 0;
    width: 476px;
    height: 216px;
    border-radius: 12px;
    background: #2191DD;
    padding-left: 32px;
}

.services h1 {
    color: #F0F0F0;

    /* Title 6/600 */
    font-family: "Open Sans";
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    /* 142.857% */
    letter-spacing: -0.308px;
    padding-top: 32px;
    margin-bottom: 8px;
}

.services p {
    color: #FFF;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    letter-spacing: -0.176px;
    margin-bottom: 16px;
}

.services button {
    color: #F0F0F0;
    text-align: center;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;  
    letter-spacing: -0.176px;
    padding: 12px 20px;
    border-radius: 8px;
    border: 1px solid #F0F0F0;
}